.courseholder {
	border: solid 1px black;
	padding: 5px;
}
.section {
	border: dotted 1px black;
}

.header>span {
	margin-right: 10px;
}

.sectionnum {
	margin-right: 10px;
}

#filters {
	min-height: 5%;
}

.filter {
	padding-right:5px;
	padding-left:5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 25px;
	background: #33C3F0;
	color: #FFF;
	display: inline-block;
}

.details {

}

.desc {
	padding-left: 5px;
}

.expandable {
	padding-right: 5px;
	cursor: pointer;
}

.units {
	padding-left: 5px;
}

#footer {
	width: 100%;
}

#nothingmsg {
	font-style: italic;
	color: #BBB;
	font-size: 24px;
}

.x {
	color: #FFF;
	padding-right: 5px;
}

#search {
	z-index: 1;
}

#searchresults {
	overflow-y:auto;
	height:100%;
}

#searchbox {
	width: 100%;
}

#container {
	padding-left: 250px;
}

#calendardiv {
	width: calc(100%-10px);
	margin-left: 10px;
	z-index: 0;
}

.optiondesc {
	font-size:12px;
}

svg {
	background: #fff;
}

.axis>.tick line,
.axis>.tick path,
.axis>path {
	shape-rendering: crispEdges;
	stroke:black;
}

.axis>path {
	fill: none;
}

.classblock {
	border: 2px solid black;
}

.verticalline {
	stroke:#aaa;
	stroke-width:1px;
	shape-rendering: crispEdges;
}

text {
	font-family: "Open Sans", sans-serif;
}

.mousepassthru {
	pointer-events: none;
}

#coursenums tr:nth-child(2n+1) {
	background-color:#ece7f2;
}

#coursenums {
	/*border: 2px solid black;*/
}

#coursenums td {
	padding: 1rem 1rem;
}

#coursenums th {
	padding: 1rem 1rem;
}

.title {
	font-style: italic;
}

.version {
	color:#555;
}

#buttonbar {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
	width: 90%;
	display: inline-block;
	text-align: center;
}

#calendartitle {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#titlerow {
	float: right;
}

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
  color: #FFF;
  background-color: #eb5149;
  border-color: #eb5149; }

#tools { 
	font-size: 16px;
}

.modal {
	background-color: white;
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0.4);
	border-width: 1px;
	border-style: solid;
}

#menumodal {
	margin: 10px 10px;
	font-weight: 500;
}

/* for the arrow */
#menumodal:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 40px;
    top: -9px;
    width: 14px;
    height: 14px;
	border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    transform: rotate(135deg);
    z-index: -1;
}
.flushbutton {
	padding: 10px 15px;
	text-align: left;
	cursor:pointer;
}

.flushbutton:not(:first-child) {
	border-top-style: solid;
	border-top-color: rgba(0, 0, 0, 0.3);
	border-top-width: 1px;
}

.flushbutton:hover{
	background-color:#334FF0;
	color:#fff;
}

#modal_background {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	content:" ";
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	position: fixed;
}

#courseexport {

}