.courseholder {
	border: solid 1px black;
}
.section {
	border: dotted 1px black;
}

.header>span {
	margin-right: 10px;
}

.sectionnum {
	margin-right: 10px;
}

#filters {
	min-height: 5%;
}

.filter {
	padding-right:5px;
	padding-left:5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 25px;
	background: #6CF;
	/*border: 2px solid;*/
	display: inline-block;
}

.details {

}

.desc {
	padding-left: 5px;
}

.expandable {
	padding-right: 5px;
}

.units {
	padding-left: 5px;
}

#nothingmsg {
	font-style: italic;
	color: #BBB;
	font-size: 24px;
}

.x {
	color: #FFF;
	padding-right: 5px;
}

.bigframe {
	float: left;
	position: relative;
}

#search {
	width: 20%;
	z-index: 1;
}

#searchbox {
	width: 100%;
}

#calendardiv {
	width: 76%;
	z-index: 0;
}

.optiondesc {
	font-size:12px;
}

svg {
	background: #fff;
}

.axis>.tick line,
.axis>.tick path,
.axis>path {
	shape-rendering: crispEdges;
	stroke:black;
}

.axis>path {
	fill: none;
}

.classblock {
	border: 2px solid black;
}

.verticalline {
	stroke:#aaa;
	stroke-width:1px;
	shape-rendering: crispEdges;
}

text {
	font-family: "Times New Roman", serif;
}

.mousepassthru {
	pointer-events: none;
}

#coursenums tr:nth-child(2n+1) {
	background-color:#ece7f2;
}

#coursenums {
	border: 2px solid black;
}

.title {
	font-style: italic;
}

.version {
	color:#555;
}