fall2016out
spring2016out
client/src/*.json
client/src/*.js
client/src/*.js.map
client/courses/
scraper/fall*
scraper/spring*
nginx/
*.7z
chromedriver
pass
possiblemajors.txt
test.py
*.pyc
d3.js
underscore*
*.log
deploydir